@media screen and (max-width: 768px){}
@import url(style.css) screen and (min-width: 769px);
@import url(tablet.css) screen and (max-width: 768px);
@import url(smart.css) screen and (max-width: 640px);
body{margin: 0;}



a:link{color: white;}
a:visited{color: white;}
a:hover{background-color: #000b00; color: white;}
a:active{color: white;}
a{text-decoration: none;}

.facebook{position: absolute;top: 88%;
          right: 15%;}

.twitter{position: absolute;top: 88%;
     right: 8%;}

#temples{font-size: 20px;
         position: absolute;left: 10%; top: 85%;}



#food{font-size: 20px;
      position: absolute;top: 85%;left: 15%;}

#apply{font-size: 20px;
       position: absolute;top: 85%; left: 20%;}

#about{font-size: 20px;
       position: absolute;top: 85%; left: 630px;} 

#schedule{font-size: 20px; 
          position: absolute;top: 85%; left: 780px;}


          .bamboo{position: absolute;top:100%;right: 0;}

          .sh{position: absolute;top: 100%;left: 0;}


#box1{background-color: white;
      width: 56%; height: 83%;
      position: absolute;top: 100%;left: 20%;
      font-size: 42px;}   
      #X{font-size: 65%;}       

#box2{background-color: #203744;
      width: 54%; height: 91%;
      position: absolute;top: 181%;
      font-size: 42px;
       }
#Y{font-size: 65%; }
.soba{position: absolute;top:181%; right: 0;}

#box3{background-color: #fcc800;
 height: 90%;width: 90%;
 position: absolute;top: 272%;right: 0;
font-size: 20px; }

h1{position: absolute;left: 30%;}

#event,#kuwashiku{float: left;}

#event{font-size: 25px; position: absolute;top: 20%;}

#setumei{float: right; position: absolute; top:20%; right: 5%;
           font-size: 100%;}
.husimi{margin-left: 25%; position: absolute;top: 20%;}

#event,#setumei,h1{color: white;}



#box3{overflow: hidden;}

#box8{background-color: #fcc800;
       height: 90%; width: 10%;
       font-size: 20px;
     position: absolute;top: 272%;}

#month{margin-left: 5%;}




#box9{font-size: 30px;color: black;
        background-color: #fcc800;
         height: 90%; width: 30%;
         -webkit-text-size-adjust:none;
        position: absolute;top: 266%; right: -11%;
        }

#box4{background-color: green;
       width: 100%;height: 90%;
       position: absolute;top: 362%;
      font-size: 42px;}

#box5{background-color: #003333;
       width: 100%; height: 68%;
       position: absolute;top: 452%;
       font-size: 42px;
       }

#box6{font-size: 20px;
      background-color: #006e54;
      position: absolute;top: 87%;
      width: 111%; height: 6%;}  

.image1{position: absolute;bottom: 0;
       right: 255px;}  

.image2{position: absolute;bottom: 0;right: 195px;}          

#box7{position: fixed;bottom: 0;
      font-size: 20px;
      background-color: #006e54;
      width: 111%; height: 6%;}

#tem2{position: absolute;left: 10%;}

#fo2{position: absolute;left: 23%;}

#ap2{position: absolute;left: 36%;}

#sch2{position: absolute;left: 49%;}

#ab2{position: absolute;left: 62%;}

.find{position: absolute;top: 0;}


#month[a:link{color: black;}

a:visited{color: black;}
a:hover{background-color: #f08300; color: black;}
a:active{color: white;}
a{text-decoration: none;}]

